body {
    background-color: black;
    color: #39ff14;
    padding: 5% 10% 10% 10%;
    max-width: 800px;
    min-width: 200px;
    overflow: scroll;
  }

  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #39ff14;
  }

  .cursor {
    color: white;
    font-weight: bold;
    animation: blink 1s linear infinite;
    border-right: 7px solid white;
    font-size: 16px;
  }
  
  @keyframes blink {
    0% {
      visibility: hidden;
    }
}

.about a {
    text-decoration: underline;
}

.about a:hover {
    text-decoration: none;
}