body {
    background-color: black;
    color: #39ff14;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px 0;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #39ff14;
    box-shadow: 0 0 10px #39ff14;
    margin: 20px 0;
}

.quick-info {
    font-style: italic;
    font-size: 1.2em;
}

section {
    margin: 40px 0;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

.current-occupation p, .employment-history ul, .education p, .technical-skills p, .languages p, .hobbies-interests p, .volunteering p, .contact-information p, .social-media p {
    font-size: 1.2em;
}

.employment-history ul {
    list-style-type: none;
    padding: 0;
}

.employment-history ul li {
    margin: 5px 0;
}

a {
    color: #39ff14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    
    .profile-photo {
        width: 120px;
        height: 120px;
    }
    
    .quick-info {
        font-size: 1em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    .current-occupation p, .employment-history ul, .education p, .technical-skills p, .languages p, .hobbies-interests p, .volunteering p, .contact-information p, .social-media p {
        font-size: 1em;
    }
}